*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
}

  /* mix... */
.profile_info_left, .wrapper_notifications, .user, .wrapper_profile_chatting, .wrapper_keyboard{
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.profile_info_left img, .user img {
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.info_notifications, .user h3{
  margin-left: 10px;
}

  /* container nav left e right */
.wrapper{
  max-width: 80%;
  height: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
  display: flex;
}

  /* wrapper left */
.wrapper_left{
  width: 35%;
  height: 100%;
}

  /* section profile info */
.wrapper_profile_user, .wrapper_profile_chatting{
  display: flex;
  justify-content: space-between;
  background: #EAEAEA;
}

.profile_info_right {
  display: flex;
  align-items: center;
}
.profile_info_right i, .user_settings_content i{
  color: #B1B1B1;
  font-size: 22px;
  margin-right: 20px;
  cursor: pointer;
}

  /* section notifications */
.wrapper_notifications{
  background: #8EDAFC;
  padding-left: 10px;
}
.wrapper_notifications i{
  font-size: 18px;
  border-radius: 50%;
  background: #fff;
  color: #8EDAFC;
  padding: 13px;
}
.info_notifications a{
  color: #6B7376;
}

  /* section search input */
.wrapper_search_input{
  width: 100%;
  height: 50px;
  padding: 6px;
  background: #EAEAEA;
  display: flex;
}
.search{
  width: 15%;
  text-align: center;
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;

}
.search i{
  color: #B1B1B1;
}
.wrapper_search_input input{
  width: 85%;
  height: 100%;
  border: 1px solid #EAEAEA;
  font-size: 16px;
  padding-left: 5px;
}
.wrapper_search_input input:focus, .wrapper_keyboard input:focus{
  outline: none;
}

  /* section users */
.wrapper_users{
  height: calc( 100% - 190px );
  background: #fff;
  overflow-y: auto;
}
.user{
  align-items: flex-start;
  padding: 10px;
  background: #fff;
  cursor: pointer;
}
.user:not(:last-child){
  border-bottom: 1px solid #EAEAEA;
}
.user a{
  text-decoration: none;
  color: #000;
}
.user:hover{
  background: lightgrey;
}

  /* wrapper right */
.wrapper_right{
  width: 65%;
  height: 100%;
  background: lightblue;
}

  /* section header and settings */
.wrapper_profile_chatting{
  border-left: 1px solid #B1B1B1;
  align-items: center;
}
.wrapper_profile_chatting .user{
  background: transparent;
  display: flex;
  align-items: center;
}
.user_chatting_content p{
  margin-left: 10px;
  color: grey;
}

  /* section chat/interaction and keyboard */
.wrapper_chat{
  height: calc( 100% - 140px );
  background-image: url('../img/mine.jpg');
  padding: 50px;
  overflow-y: auto;
}

  /* section message */
.message_received, .message_send{
  max-width: 350px;
  max-height: 100%;
  background: #fff;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  position: relative;
}
.message_received{
  margin-right: auto;
}
.message_send{
  margin-left: auto;
  background: #D5F9BA;
}

  /* section keyboard and input */
.wrapper_keyboard{
  background: #F3EEEA;
  justify-content: center;
  padding: 10px;
}
.wrapper_keyboard input{
  width: 85%;
  height: 100%;
  border-radius: 5px;
  border: none;
  margin: 0 25px;
  font-size: 18px;
  padding: 5px;
}
.wrapper_keyboard i{
  font-size: 24px;
  color: #B1B1B1;
  cursor: pointer;
}
::placeholder{
  color: #B1B1B1;
  padding: 5px;
}

.data{
  position: absolute;
  right: 0;
}
