*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
}

/* container nav left e right */
.wrapper{
  max-width: 80%;
  height: calc(100% - 40px);
  background: coral;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

/* wrapper left */
.wrapper_left{
  width: 35%;
  height: 100%;
}

/* section profile info */
.wrapper_profile_user{
  display: flex;
  justify-content: space-between;
  background: #EAEAEA;
}

.profile_info_left, .wrapper_notifications{
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.profile_info_left img {
  height: 100%;
  border-radius: 50%;
}

.profile_info_right {
  display: flex;
  align-items: center;
}
.profile_info_right i{
  color: #B1B1B1;
  font-size: 22px;
  margin-right: 20px;
}

/* section notifications */
.wrapper_notifications{
  background: #8EDAFC;
  padding-left: 10px;
}
.wrapper_notifications i{
  font-size: 18px;
  border-radius: 50%;
  background: #fff;
  color: #8EDAFC;
  padding: 13px;
}
.info_notifications{
  margin-left: 10px;
}
.info_notifications a{
  color: #6B7376;
}




/* wrapper right */
.wrapper_right{
  width: 65%;
  height: 100%;
  background: lightblue;
}
